<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <section id="header-contact">
 
    <div class="d-flex d-inline justify-content-between container">
      <div>
          <form method="POST" action="/search/title" class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" name="key" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
      </div>
    
          <div>
              <div class="header-contact-content d-flex align-items-center">
                  <i class="fa fa-phone"></i>
                  <span>Hotline: 0938443767</span>
          
                </div>
                <div class="header-contact-content-rightside">
                  <% if(!isLogin) {%>
                  <a href="/login">
                    <button class="btn btn-primary" href="/login">Log In</button>
          
                  </a>
              
                  <button class="btn btn-primary">Register</button>
                  <% } else {%>
                    <a href="/admin/profile">
                      <button class="btn btn-primary" href="/admin/profile">Hello, <%=username %></button>
            
                    </a>
                    
          
          
                    <% }%>
                </div>
          </div>
  
    </div>



  </section>

  <header id="menu" class="container-fluid">
    <div class="logo d-flex justify-content-center">
      <a href="/">
        <img src="./images/logo2.png" class="img-fluid" alt="">
      </a>
    </div>


    <div class="nav-bar container">
      <nav class="navbar navbar-expand-sm navbar-light">

        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/category-humor" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Humor
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/category-humor/funny">Funny</a>
                <a class="dropdown-item" href="/category-humor/weird">Weird</a>

              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/category-supercars" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Supercars
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/category-supercars/on top">On top</a>
                <a class="dropdown-item" href="/category-supercars/celebrity">Celebrity</a>

              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/category-motor" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Motor
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/category-motor/motorcycles">Motorcycles</a>
                <a class="dropdown-item" href="/category-motor/motorhomes">Motorhomes</a>

              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/category-modern" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Modern
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/category-modern/technology">Technology</a>
                <a class="dropdown-item" href="/category-modern/special">Special</a>

              </div>
            </li>
          </ul>

        </div>
      </nav>
    </div>

  </header>
  <section id="carousel" class="container-fluid p-0">
    <div class="row">
      <div class="col-lg-9">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <%{ %>
              <div class="carousel-item active">
                <a href="/news/<%=allnewsest[0].title %>">
                  <img class="d-block w-100" src="<%=allnewsest[0].img %>" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h2>

                      <%=allnewsest[0].title %>
                    </h2>
                    <p>
                      <%=allnewsest[0].title %>
                        <%=allnewsest[1].title %>
                    </p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="/news/<%=allnewsest[1].title %>">
                  <img class="d-block w-100" src="<%=allnewsest[1].img %>" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h2>
                      <%=allnewsest[1].title %>


                    </h2>
                    <p>
                      <%=allnewsest[1].title %>
                        <%=allnewsest[3].title %>
                    </p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="/news/<%=allnewsest[2].title %>">
                  <img class="d-block w-100" src="<%=allnewsest[2].img %>" alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h2>
                      <%=allnewsest[2].title %>

                    </h2>
                    <p>
                      <%=allnewsest[2].title %>
                        <%=allnewsest[0].title %>
                    </p>
                  </div>
                </a>
              </div>
              <%} %>
          </div>
          <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
      </div>
      <div class="col-lg-3 flex-column align-items-end">
        <div class="menu-carousel d-flex flex-column position-relative justify-content-center active-highlight-selected" data-target="#carouselExampleControls"
          id="carousel-click" data-slide-to="0">
          <img src="<%=allnewsest[0].img %>" class="img-fluid" alt="">
          <div class="menu-carousel-content position-absolute">
            <h5>
              <%=allnewsest[0].title %>
            </h5>

            <i class="fa fa-calendar"></i>
            <span>
              <%=allnewsest[0].NgayDang.substring(0,10) %>
            </span>
            <i class="fa fa-eye"></i>
            <span>
              <%=allnewsest[0]._views %>
            </span>
          </div>

        </div>
        <div class="menu-carousel d-flex flex-column position-relative mt-4 justify-content-center" data-target="#carouselExampleControls"
          id="carousel-click" data-slide-to="1">
          <img src="<%=allnewsest[1].img %>" class="img-fluid" alt="">

          <div class="menu-carousel-content position-absolute">
            <h5>
              <%=allnewsest[1].title %>
            </h5>

            <i class="fa fa-calendar"></i>
            <span>
              <%=allnewsest[1].NgayDang.substring(0,10) %>
            </span>
            <i class="fa fa-eye"></i>
            <span>
              <%=allnewsest[1]._views %>
            </span>
          </div>



        </div>
        <div class="menu-carousel d-flex flex-column position-relative mt-3 justify-content-center" data-target="#carouselExampleControls"
          id="carousel-click" data-slide-to="2">
          <img src="<%=allnewsest[2].img %>" class="img-fluid" alt="">
          <div class="menu-carousel-content position-absolute">
            <h5>
              <%=allnewsest[2].title %>
            </h5>

            <i class="fa fa-calendar"></i>
            <span>
              <%=allnewsest[2].NgayDang.substring(0,10) %>
            </span>
            <i class="fa fa-eye"></i>
            <span>
              <%=allnewsest[2]._views %>
            </span>
          </div>

        </div>
      </div>

    </div>
    <div class="carousel-news">

    </div>
  </section>
  <section id="news" class="container mt-4 ">
    <div class="row mr-0">
      <% for(var i=4;i<8;i++) {%>
        <div class="col-lg-3 category-1 position-relative">
          <div class="hovereffect">
            <img src=" <%=allnewsest[i].img %>" height="146px" class="img-fluid" alt="">
            <div class="overlay">
              <a class="info" href="/news/<%=allnewsest[i].title %>">Read More</a>
            </div>
          </div>
          <% if(allnewsest[i].TenLoai == "On top" ||allnewsest[i].TenLoai == "Supercars" ) {%>
            <button class="btn btn-danger">
              <%=allnewsest[i].TenLoai %>
            </button>
            <% }%>
              <% if(allnewsest[i].TenLoai == "Funny") {%>
                <button class="btn btn-success">
                  <%=allnewsest[i].TenLoai %>
                </button>
                <% }%>
                  <% if(allnewsest[i].TenLoai == "Celebrity") {%>
                    <button class="btn btn-primary">
                      <%=allnewsest[i].TenLoai %>
                    </button>
                    <% }%>
                      <% if(allnewsest[i].TenLoai == "Motor") {%>
                        <button class="btn btn-secondary text-light">
                          <%=allnewsest[i].TenLoai %>
                        </button>
                        <% }%>
                          <% if(allnewsest[i].TenLoai == "Modern") {%>
                            <button class="btn btn-info text-light">
                              <%=allnewsest[i].TenLoai %>
                            </button>
                            <% }%>
                              <a href="/news/<%=allnewsest[i].title %>" class="link-tag-href">
                                <div class="category-title mt-5">
                                  <h6>
                                    <%=allnewsest[i].title %>
                                  </h6>
                                  <div>
                                    <i class="fa fa-calendar"></i>
                                    <span>
                                      <%=allnewsest[i].NgayDang.substring(0,10) %>
                                    </span>                                  
                                    <i class="fa fa-eye"></i>
                                    <span>
                                      <%=allnewsest[i]._views %>50
                                    </span>
                                  </div>
                                </div>
                              </a>
        </div>
        <% }%>

    </div>
  </section>
  <!-- 2 NEWS RELATED -->
  <section id="news-second" class="container position-relative p-0">
    <div class="row news-second-content">
      <div class="col-lg-9">

        <div class="row" id="news-second-container">
          <div class="col-lg-9">
            <a href="/news/<%=twonewsest[0].title %>">
              <img src="<%=twonewsest[0].img %>" class="img-fluid" alt="">
            </a>
          </div>
          <div class="col-lg-3 d-flex flex-column justify-content-center">
            <a href="/news/<%=twonewsest[0].title %>">
              <button class="btn btn-danger font-weight-bold">
                <%=twonewsest[0].TenLoai %>
              </button>
              <div class="news2-title mt-2">
                <h6>
                  <%=twonewsest[0].title %>
                </h6>
                <p>With the SLC going the way of the dodo, the SL will soon become the oldest model in Mercedes’ lineup. The
                  current-generation model (R231) was unveiled more thanng in the tooth. Not to worry as an all-new SL iand
                  AMG is responsible with development.</p>
                <i class="fa fa-calendar"></i>
                <span>
                  <%=twonewsest[0].NgayDang.substring(0,10) %>
                </span>
                <i class="fa fa-eye"></i>
                <span>
                  <%=twonewsest[0]._views %>
                </span>
              </div>

            </a>
          </div>
          <div class="col-lg-9 mt-3">
            <a href="/news/<%=twonewsest[1].title %>">
              <img src="<%=twonewsest[1].img %>" class="img-fluid" alt="">
            </a>
          </div>
          <div class="col-lg-3 mt-3">
            <a href="/news/<%=twonewsest[1].title %>">

              <button class="btn btn-primary font-weight-bold">
                <%=twonewsest[1].TenLoai %>
              </button>

              <div class="news2-title mt-2">
                <h6>
                  <%=twonewsest[1].title %>
                </h6>
                <p>With the SLC going the way of the dodo, the SL will soon b model in Mercedes’ lineup. The current-generation
                  model (R231) was unveiled more than sev is responsible with development.</p>
                <i class="fa fa-calendar"></i>
                <span>
                  <%=twonewsest[1].NgayDang.substring(0,10) %>
                </span>
                <i class="fa fa-eye"></i>
                <span>
                  <%=twonewsest[1]._views %>
                </span>
              </div>
            </a>
          </div>
        </div>
        <!-- Start Humor -->
        <section id="news-third" class="container mt-4 ">

          <div class="row mr-0">
            <div>
              <div class="col-lg-12">
                <div class="blog_main d-flex justify-content-start">
                  <div class="blog_main_heading_div">
                    <div class="blog_heading_div">
                      <h3 class="bg-primary text-light">HUMOR</h3>
                    </div>
                  </div>
                  <ul class="nav nav-pills mb-3 d-flex justify-content-center w-100" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-all-humor-tab" data-toggle="pill" href="#pills-humor-all" role="tab" aria-controls="pills-humor"
                        aria-selected="true">All</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-funny-tab" data-toggle="pill" href="#pills-funny" role="tab" aria-controls="pills-funny" aria-selected="false">Funny</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-weird-tab" data-toggle="pill" href="#pills-weird" role="tab" aria-controls="pills-weird" aria-selected="false">Weird</a>
                    </li>

                  </ul>
                </div>

                <div class="tab-content" id="pills-tabContent">
                  <!-- Category-1 -->
                  <div class="tab-pane fade show active" id="pills-humor-all" role="tabpanel" aria-labelledby="pills-all-humor-tab">
                    <div class="row" style="min-height: 550px">
                      <% var i = 0 ; allnews.forEach(function(baiviet){%>

                        <% if(baiviet.TenLoai == "Humor" && i<6){
                          i++; %>
                          <div class="col-lg-4 category-1 position-relative" style="height: 275px">
                            <div class="hovereffect">
                              <img src="<%= baiviet.img%>" class="img-fluid" alt="">
                              <div class="overlay h-50">
                                <a class="info" href="/news/<%=baiviet.title %>">Read More</a>
                              </div>
                            </div>
                            <% if(baiviet.kind == "Funny"){ %>
                              <button class="btn btn-success">
                                <%=baiviet.kind %>
                              </button>
                              <% }%>
                                <% if(baiviet.kind == "Weird"){ %>
                                  <button class="btn btn-info">
                                    <%=baiviet.kind %>
                                  </button>
                                  <% }%>

                                    <div class="category-title">
                                      <h6>
                                        <%=baiviet.title %>
                                      </h6>
                                      <i class="fa fa-calendar"></i>
                                      <span>
                                        <%=baiviet.NgayDang.substring(0,10) %>
                                      </span>
                                      <i class="fa fa-eye"></i>
                                      <span>
                                        <%=baiviet._views %>
                                      </span>
                                    </div>


                          </div>
                          <% }%>
                            <% }) %>

                    </div>

                  </div>
                  <!-- Category-2 -->
                  <div class="tab-pane fade show " id="pills-funny" role="tabpanel" aria-labelledby="pills-funny-tab">
                    <div class="row" style="min-height: 550px">
                      <% var i = 0 ; allnews.forEach(function(baiviet){%>

                        <% if(baiviet.TenLoai == "Humor" && i<6 && baiviet.kind == "Funny"){
                          i++; %>
                          <div class="col-lg-4 category-1 position-relative" style="height: 275px">
                            <div class="hovereffect">
                              <img src="<%= baiviet.img%>" class="img-fluid" alt="">
                              <div class="overlay h-50">
                                <a class="info" href="/news/<%=baiviet.title %>">Read More</a>
                              </div>
                            </div>

                            <button class="btn btn-success">
                              <%=baiviet.kind %>
                            </button>



                            <div class="category-title">
                              <h6>
                                <%=baiviet.title %>
                              </h6>
                              <i class="fa fa-calendar"></i>
                              <span>
                                <%=baiviet.NgayDang.substring(0,10) %>
                              </span>
                              <i class="fa fa-eye"></i>
                              <span>
                                <%=baiviet._views %>
                              </span>
                            </div>


                          </div>
                          <% }%>
                            <% }) %>

                    </div>
                  </div>
                  <!-- Category-3 -->
                  <div class="tab-pane fade" id="pills-weird" role="tabpanel" aria-labelledby="pills-weird-tab">
                    <div class="row" style="min-height: 550px">
                      <% var i = 0 ; allnews.forEach(function(baiviet){%>

                        <% if(baiviet.TenLoai == "Humor" && i<6 && baiviet.kind == "Weird"){
                          i++; %>
                          <div class="col-lg-4 category-1 position-relative" style="height: 275px">
                            <div class="hovereffect">
                              <img src="<%= baiviet.img%>" class="img-fluid" alt="">
                              <div class="overlay h-50">
                                <a class="info" href="/news/<%=baiviet.title %>">Read More</a>
                              </div>
                            </div>

                            <button class="btn btn-info">
                              <%=baiviet.kind %>
                            </button>



                            <div class="category-title">
                              <h6>
                                <%=baiviet.title %>
                              </h6>
                              <i class="fa fa-calendar"></i>
                              <span>
                                <%=baiviet.NgayDang.substring(0,10) %>
                              </span>
                              <i class="fa fa-eye"></i>
                              <span>
                                <%=baiviet._views %>
                              </span>
                            </div>


                          </div>
                          <% }%>
                            <% }) %>

                    </div>


                  </div>
                  <button class="btn btn-primary w-100">Load More...</button>

                </div>

              </div>
            </div>




          </div>
        </section>
        <!-- End Humor -->
        <!-- Start Supercars -->
        <section id="news-third" class="container mt-4 ">

          <div class="row mr-0">
            <div id="category-2">
              <div class="col-lg-12">
                <div class="blog_main d-flex justify-content-start">
                  <div class="blog_main_heading_div">
                    <div class="blog_heading_div">
                      <h3 class="bg-danger text-light">SUPERCARS</h3>
                    </div>
                  </div>
                  <ul class="nav nav-pills mb-3 d-flex justify-content-center w-100" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-all-supercars-tab" data-toggle="pill" href="#pills-supercars-all" role="tab" aria-controls="pills-supercars"
                        aria-selected="true">All</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-ontop-tab" data-toggle="pill" href="#pills-ontop" role="tab" aria-controls="pills-ontop" aria-selected="false">On top</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-celebrity-tab" data-toggle="pill" href="#pills-celebrity" role="tab" aria-controls="pills-celebrity"
                        aria-selected="false">Celebrity</a>
                    </li>

                  </ul>
                </div>

                <div class="tab-content" id="pills-tabContent">
                  <!-- Category-1 -->
                  <div class="tab-pane fade show active" id="pills-supercars-all" role="tabpanel" aria-labelledby="pills-all-supercars-tab">
                    <div class="row" style="min-height: 550px">
                      <% var i = 0 ; allnews.forEach(function(baiviet){%>

                        <% if(baiviet.TenLoai == "Supercars" && i<6){
                          i++; %>
                          <div class="col-lg-4 category-1 position-relative" style="height: 275px">
                            <div class="hovereffect">
                              <img src="<%= baiviet.img%>" class="img-fluid" alt="">
                              <div class="overlay h-50">
                                <a class="info" href="/news/<%=baiviet.title %>">Read More</a>
                              </div>
                            </div>
                            <% if(baiviet.kind == "On top"){ %>
                              <button class="btn btn-danger">
                                <%=baiviet.kind %>
                              </button>
                              <% }%>
                                <% if(baiviet.kind == "Celebrity"){ %>
                                  <button class="btn btn-primary">
                                    <%=baiviet.kind %>
                                  </button>
                                  <% }%>

                                    <div class="category-title">
                                      <h6>
                                        <%=baiviet.title %>
                                      </h6>
                                      <i class="fa fa-calendar"></i>
                                      <span>
                                        <%=baiviet.NgayDang.substring(0,10) %>
                                      </span>
                                      <i class="fa fa-eye"></i>
                                      <span>
                                        <%=baiviet._views %>
                                      </span>
                                    </div>


                          </div>
                          <% }%>
                            <% }) %>

                    </div>

                  </div>
                  <!-- Category-2 -->
                  <div class="tab-pane fade show " id="pills-ontop" role="tabpanel" aria-labelledby="pills-ontop-tab">
                    <div class="row" style="min-height: 550px">
                      <% var i = 0 ; allnews.forEach(function(baiviet){%>

                        <% if(baiviet.TenLoai == "Supercars" && i<6 && baiviet.kind == "On top"){
                          i++; %>
                          <div class="col-lg-4 category-1 position-relative" style="height: 275px">
                            <div class="hovereffect">
                              <img src="<%= baiviet.img%>" class="img-fluid" alt="">
                              <div class="overlay h-50">
                                <a class="info" href="/news/<%=baiviet.title %>">Read More</a>
                              </div>
                            </div>

                            <button class="btn btn-danger">
                              <%=baiviet.kind %>
                            </button>


                            <div class="category-title">
                              <h6>
                                <%=baiviet.title %>
                              </h6>
                              <i class="fa fa-calendar"></i>
                              <span>
                                <%=baiviet.NgayDang.substring(0,10) %>
                              </span>
                              <i class="fa fa-eye"></i>
                              <span>
                                <%=baiviet._views %>
                              </span>
                            </div>


                          </div>
                          <% }%>
                            <% }) %>

                    </div>
                  </div>
                  <!-- Category-3 -->
                  <div class="tab-pane fade" id="pills-celebrity" role="tabpanel" aria-labelledby="pills-celebrity-tab">
                    <div class="row" style="min-height: 550px">
                      <% var i = 0 ; allnews.forEach(function(baiviet){%>

                        <% if(baiviet.TenLoai == "Supercars" && i<6 && baiviet.kind == "Celebrity"){
                          i++; %>
                          <div class="col-lg-4 category-1 position-relative" style="height: 275px">
                            <div class="hovereffect">
                              <img src="<%= baiviet.img%>" class="img-fluid" alt="">
                              <div class="overlay h-50">
                                <a class="info" href="/news/<%=baiviet.title %>">Read More</a>
                              </div>
                            </div>

                            <button class="btn btn-primary">
                              <%=baiviet.kind %>
                            </button>


                            <div class="category-title">
                              <h6>
                                <%=baiviet.title %>
                              </h6>
                              <i class="fa fa-calendar"></i>
                              <span>
                                <%=baiviet.NgayDang.substring(0,10) %>
                              </span>
                              <i class="fa fa-eye"></i>
                              <span>
                                <%=baiviet._views %>
                              </span>
                            </div>


                          </div>
                          <% }%>
                            <% }) %>

                    </div>


                  </div>
                  <button class="btn btn-danger w-100">Load More...</button>

                </div>
              </div>

            </div>
          </div>
        </section>
        <!-- End Supercars -->
        <!-- Start Motor -->
        <section id="news-third" class="container mt-4 ">

          <div class="row mr-0">
            <div id="category-3">
              <div class="col-lg-12">
                <div class="blog_main d-flex justify-content-start">
                  <div class="blog_main_heading_div">
                    <div class="blog_heading_div">
                      <h3 class="bg-dark text-light">MOTOR</h3>
                    </div>
                  </div>
                  <ul class="nav nav-pills mb-3 d-flex justify-content-center w-100" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-all-motor-tab" data-toggle="pill" href="#pills-motor-all" role="tab" aria-controls="pills-motor"
                        aria-selected="true">All</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-motorcycle-tab" data-toggle="pill" href="#pills-motorcycle" role="tab" aria-controls="pills-motorcycle"
                        aria-selected="false">Motorcycle</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-mortorhomes-tab" data-toggle="pill" href="#pills-mortorhomes" role="tab" aria-controls="pills-mortorhomes"
                        aria-selected="false">Motorhomes</a>
                    </li>

                  </ul>
                </div>

                <div class="tab-content" id="pills-tabContent">
                  <!-- Category-1 -->
                  <div class="tab-pane fade show active" id="pills-motor-all" role="tabpanel" aria-labelledby="pills-all-motor-tab">
                    <div class="row" style="min-height: 550px">
                      <% var i = 0 ; allnews.forEach(function(baiviet){%>

                        <% if(baiviet.TenLoai == "Motor" && i<6){
                          i++; %>
                          <div class="col-lg-4 category-1 position-relative" style="height: 275px">
                            <div class="hovereffect">
                              <img src="<%= baiviet.img%>" class="img-fluid" alt="">
                              <div class="overlay h-50">
                                <a class="info" href="/news/<%=baiviet.title %>">Read More</a>
                              </div>
                            </div>
                            <% if(baiviet.kind == "Motorcycles"){ %>
                              <button class="btn btn-secondary font-weight-bold">
                                <%=baiviet.kind %>
                              </button>
                              <% }%>
                                <% if(baiviet.kind == "Motorhomes"){ %>
                                  <button class="btn btn-warning text-dark font-weight-bold">
                                    <%=baiviet.kind %>
                                  </button>
                                  <% }%>

                                    <div class="category-title">
                                      <h6>
                                        <%=baiviet.title %>
                                      </h6>
                                      <i class="fa fa-calendar"></i>
                                      <span>
                                        <%=baiviet.NgayDang.substring(0,10) %>
                                      </span>
                                      <i class="fa fa-eye"></i>
                                      <span>
                                        <%=baiviet._views %>
                                      </span>
                                    </div>


                          </div>
                          <% }%>
                            <% }) %>

                    </div>

                  </div>
                  <!-- Category-2 -->
                  <div class="tab-pane fade show " id="pills-motorcycle" role="tabpanel" aria-labelledby="pills-motorcycle-tab">
                    <div class="row" style="min-height: 550px">
                      <% var i = 0 ; allnews.forEach(function(baiviet){%>

                        <% if(baiviet.TenLoai == "Motor" && i<6 && baiviet.kind == "Motorcycles"){
                          i++; %>
                          <div class="col-lg-4 category-1 position-relative" style="height: 275px">
                            <div class="hovereffect">
                              <img src="<%= baiviet.img%>" class="img-fluid" alt="">
                              <div class="overlay h-50">
                                <a class="info" href="/news/<%=baiviet.title %>">Read More</a>
                              </div>
                            </div>

                            <button class="btn btn-secondary font-weight-bold">
                              <%=baiviet.kind %>
                            </button>


                            <div class="category-title">
                              <h6>
                                <%=baiviet.title %>
                              </h6>
                              <i class="fa fa-calendar"></i>
                              <span>
                                <%=baiviet.NgayDang.substring(0,10) %>
                              </span>
                              <i class="fa fa-eye"></i>
                              <span>
                                <%=baiviet._views %>
                              </span>
                            </div>


                          </div>
                          <% }%>
                            <% }) %>

                    </div>
                  </div>
                  <!-- Category-3 -->
                  <div class="tab-pane fade" id="pills-mortorhomes" role="tabpanel" aria-labelledby="pills-mortorhomes-tab">
                    <div class="row" style="min-height: 550px">
                      <% var i = 0 ; allnews.forEach(function(baiviet){%>

                        <% if(baiviet.TenLoai == "Motor" && i<6 && baiviet.kind == "Motorhomes"){
                          i++; %>
                          <div class="col-lg-4 category-1 position-relative" style="height: 275px">
                            <div class="hovereffect">
                              <img src="<%= baiviet.img%>" class="img-fluid" alt="">
                              <div class="overlay h-50">
                                <a class="info" href="/news/<%=baiviet.title %>">Read More</a>
                              </div>
                            </div>


                            <button class="btn btn-warning text-dark font-weight-bold">
                              <%=baiviet.kind %>
                            </button>


                            <div class="category-title">
                              <h6>
                                <%=baiviet.title %>
                              </h6>
                              <i class="fa fa-calendar"></i>
                              <span>
                                <%=baiviet.NgayDang.substring(0,10) %>
                              </span>
                              <i class="fa fa-eye"></i>
                              <span>
                                <%=baiviet._views %>
                              </span>
                            </div>


                          </div>
                          <% }%>
                            <% }) %>

                    </div>


                  </div>
                  <button class="btn btn-dark w-100">Load More...</button>

                </div>


              </div>
            </div>



          </div>
        </section>
        <!-- End Motor -->
        <!-- Start Modern -->
        <section id="news-third" class="container mt-4 ">

          <div class="row mr-0">
            <div id="category-4">
              <div class="col-lg-12">
                <div class="blog_main d-flex justify-content-start">
                  <div class="blog_main_heading_div">
                    <div class="blog_heading_div">
                      <h3 class="bg-info text-light">Modern</h3>
                    </div>
                  </div>
                  <ul class="nav nav-pills mb-3 d-flex justify-content-center w-100" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-all-modern-tab" data-toggle="pill" href="#pills-modern-all" role="tab" aria-controls="pills-modern"
                        aria-selected="true">All</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-technology-tab" data-toggle="pill" href="#pills-technology" role="tab" aria-controls="pills-technology"
                        aria-selected="false">Technology</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-special-tab" data-toggle="pill" href="#pills-special" role="tab" aria-controls="pills-special"
                        aria-selected="false">Special</a>
                    </li>

                  </ul>
                </div>

                <div class="tab-content" id="pills-tabContent">
                  <!-- Category-1 -->
                  <div class="tab-pane fade show active" id="pills-modern-all" role="tabpanel" aria-labelledby="pills-all-modern-tab">
                    <div class="row" style="min-height: 550px">
                      <% var i = 0 ; allnews.forEach(function(baiviet){%>

                        <% if(baiviet.TenLoai == "Modern" && i<6){
                          i++; %>
                          <div class="col-lg-4 category-1 position-relative" style="height: 275px">
                            <div class="hovereffect">
                              <img src="<%= baiviet.img%>" class="img-fluid" alt="">
                              <div class="overlay h-50">
                                <a class="info" href="/news/<%=baiviet.title %>">Read More</a>
                              </div>
                            </div>
                            <% if(baiviet.kind == "Technology"){ %>
                              <button class="btn btn-primary font-weight-bold">
                                <%=baiviet.kind %>
                              </button>
                              <% }%>
                                <% if(baiviet.kind == "Special"){ %>
                                  <button class="btn btn-success font-weight-bold">
                                    <%=baiviet.kind %>
                                  </button>
                                  <% }%>

                                    <div class="category-title">
                                      <h6>
                                        <%=baiviet.title %>
                                      </h6>
                                      <i class="fa fa-calendar"></i>
                                      <span>
                                        <%=baiviet.NgayDang.substring(0,10) %>
                                      </span>
                                      <i class="fa fa-eye"></i>
                                      <span>
                                        <%=baiviet._views %>
                                      </span>
                                    </div>


                          </div>
                          <% }%>
                            <% }) %>

                    </div>

                  </div>
                  <!-- Category-2 -->
                  <div class="tab-pane fade show " id="pills-technology" role="tabpanel" aria-labelledby="pills-technology-tab">
                    <div class="row" style="min-height: 550px">
                      <% var i = 0 ; allnews.forEach(function(baiviet){%>

                        <% if(baiviet.TenLoai == "Modern" && i<6 && baiviet.kind == "Technology"){
                          i++; %>
                          <div class="col-lg-4 category-1 position-relative" style="height: 275px">
                            <div class="hovereffect">
                              <img src="<%= baiviet.img%>" class="img-fluid" alt="">
                              <div class="overlay h-50">
                                <a class="info" href="/news/<%=baiviet.title %>">Read More</a>
                              </div>
                            </div>

                            <button class="btn btn-primary font-weight-bold">
                              <%=baiviet.kind %>
                            </button>


                            <div class="category-title">
                              <h6>
                                <%=baiviet.title %>
                              </h6>
                              <i class="fa fa-calendar"></i>
                              <span>
                                <%=baiviet.NgayDang.substring(0,10) %>
                              </span>
                              <i class="fa fa-eye"></i>
                              <span>
                                <%=baiviet._views %>
                              </span>
                            </div>


                          </div>
                          <% }%>
                            <% }) %>

                    </div>
                  </div>
                  <!-- Category-3 -->
                  <div class="tab-pane fade" id="pills-special" role="tabpanel" aria-labelledby="pills-special-tab">
                    <div class="row" style="min-height: 550px">
                      <% var i = 0 ; allnews.forEach(function(baiviet){%>

                        <% if(baiviet.TenLoai == "Modern" && i<6 && baiviet.kind == "Special"){
                          i++; %>
                          <div class="col-lg-4 category-1 position-relative" style="height: 275px">
                            <div class="hovereffect">
                              <img src="<%= baiviet.img%>" class="img-fluid" alt="">
                              <div class="overlay h-50">
                                <a class="info" href="/news/<%=baiviet.title %>">Read More</a>
                              </div>
                            </div>


                            <button class="btn btn-success font-weight-bold">
                              <%=baiviet.kind %>
                            </button>


                            <div class="category-title">
                              <h6>
                                <%=baiviet.title %>
                              </h6>
                              <i class="fa fa-calendar"></i>
                              <span>
                                <%=baiviet.NgayDang.substring(0,10) %>
                              </span>
                              <i class="fa fa-eye"></i>
                              <span>
                                <%=baiviet._views %>
                              </span>
                            </div>


                          </div>
                          <% }%>
                            <% }) %>

                    </div>


                  </div>
                  <button class="btn btn-info w-100">Load More...</button>

                </div>


              </div>
            </div>



          </div>
        </section>
        <!-- End Modern -->
      </div>
      <!-- Side-bar -->
      <div id="side-bar" class="col-lg-3">
        <!-- Side-bar-1 -->
        <div class="side-bar-container">
          <div class="side-bar-container-heading-main">
            <div class="side-bar-container-heading">
              <h3 class="bg-warning text-light">WHAT'S HOT?</h3>
            </div>
          </div>

          <div class="side-bar-container-content">
            <ul>
              <% for(var i=0;i<16;i+=4) {%>
                <li class="d-flex justify-content-start">
                  <img src="<%=allnews[i].img %>" class="img-fluid" alt="">
                  <a href="/news/<%=allnews[i].title %>">
                    <div class="side-bar-container-content-title">

                      <h4>
                        <%=allnews[i].title %>
                      </h4>
                      <i class="fa fa-calendar"></i>
                      <span>
                        <%=allnews[i].NgayDang.substring(0,10) %>
                      </span>
                    </div>
                  </a>

                </li>
                <% }%>

            </ul>
          </div>
        </div>
        <!-- Side-bar-2 -->
        <div class="side-bar-container mt-4">
          <div class="side-bar-container-heading-main">
            <div class="side-bar-container-heading">
              <h3 class="bg-info text-light">RECENT NEWS</h3>
            </div>
          </div>

          <div class="side-bar-container-content">
            <ul>
              <% for(var i=1;i<16;i+=4) {%>
                <li class="d-flex justify-content-start">
                  <img src="<%=allnews[i].img %>" class="img-fluid" alt="">
                  <a href="/news/<%=allnews[i].title %>">
                    <div class="side-bar-container-content-title">

                      <h4>
                        <%=allnews[i].title %>
                      </h4>
                      <i class="fa fa-calendar"></i>
                      <span>
                        <%=allnews[i].NgayDang.substring(0,10) %>
                      </span>
                    </div>
                  </a>

                </li>
                <% }%>

            </ul>
          </div>
        </div>
        <!-- Side-bar-3 -->
        <div class="side-bar-container mt-4">
          <div class="side-bar-container-heading-main">
            <div class="side-bar-container-heading">
              <h3 class="bg-danger text-light">DON'T MISS</h3>
            </div>
          </div>

          <div class="side-bar-container-content">
            <ul>
              <% for(var i=2;i<16;i+=4) {%>
                <li class="d-flex justify-content-start">
                  <img src="<%=allnews[i].img %>" class="img-fluid" alt="">
                  <a href="/news/<%=allnews[i].title %>">
                    <div class="side-bar-container-content-title">

                      <h4>
                        <%=allnews[i].title %>
                      </h4>
                      <i class="fa fa-calendar"></i>
                      <span>
                        <%=allnews[i].NgayDang.substring(0,10) %>
                      </span>
                    </div>
                  </a>

                </li>
                <% }%>

            </ul>
          </div>
        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- FOOTER -->
  <footer id="footer" class="bg-dark">
    <div class="footer-container container">
      <div class="row">
        <div class="col-lg-3">
          <img src="./images/logo.png" class="img-fluid" alt="">
          <i class="fa fa-facebook-official"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-google-plus"></i>
          <i class="fa fa-youtube"></i>
          <i class="fa fa-pinterest"></i>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, rem unde ut beatae eligendi illum.</p>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-3">
              <div class="footer-content">
                <h6>CATEGORIES</h6>
                <ul>
                  <li><a href="/category-humor">Humor</a></li>
                  <li>Mens</li>
                  <li>Womens</li>
                  <li>Classics</li>
                </ul>
              </div>
            </div>
            <div class="col-3">
              <div class="footer-content">
                <h6>TRENDS</h6>
                <ul>
                  <li>Home</li>
                  <li>Mens</li>
                  <li>Womens</li>
                  <li>Classics</li>
                </ul>
              </div>
            </div>
            <div class="col-3">
              <div class="footer-content">
                <h6>BE POSTED</h6>
                <ul>
                  <li>Home</li>
                  <li>Mens</li>
                  <li>Womens</li>
                  <li>Classics</li>
                </ul>
              </div>
            </div>
            <div class="col-3">
              <div class="footer-content">
                <h6>ARCHIVES</h6>
                <ul>
                  <li>Home</li>
                  <li>Mens</li>
                  <li>Womens</li>
                  <li>Classics</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="javascripts/index.js"></script>



</body>

</html>