<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="../../../stylesheets/news.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../../stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../../stylesheets/animate.css">

    <!-- <script src="ckeditor/ckeditor.js"></script> -->

</head>

<body>
    <section id="header-contact">
        <div class="d-flex justify-content-end container">
            <div class="header-contact-content d-flex align-items-center">
                <i class="fa fa-phone"></i>
                <span>Hotline: 0938443767</span>

            </div>
            <div class="header-contact-content-rightside">
                <a href="/login">
                    <button class="btn btn-primary" href="/login">Log In</button>

                </a>
                <button class="btn btn-primary">Register</button>


            </div>
        </div>


  
    </section>

            <header id="menu" class="container-fluid">
                    <div class="logo d-flex justify-content-center">
                        <a href="/">
                            <img src="../../../images/logo2.png" class="img-fluid" alt="">
            
                        </a>
                    </div>
            
            
                    <div class="nav-bar container">
                        <nav class="navbar navbar-expand-sm navbar-light">
            
                            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="collapsibleNavId">
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/">Home</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/category-humor" id="navbarDropdown" aria-haspopup="true" aria-expanded="false">
                                            Humor
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/category-humor/funny">Funny</a>
                                            <a class="dropdown-item" href="/category-humor/weird">Weird</a>
            
                                        </div>
                                    </li>
            
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/category-supercars" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            Supercars
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/category-supercars/on top">On top</a>
                                            <a class="dropdown-item" href="/category-supercars/celebrity">Celebrity</a>
            
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/category-motor" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            Motor
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/category-motor/motorcycles">Motorcycles</a>
                                            <a class="dropdown-item" href="/category-motor/motorhomes">Motorhomes</a>
            
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/category-modern" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            Modern
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/category-modern/technology">Technology</a>
                                            <a class="dropdown-item" href="/category-modern/special">Special</a>
            
                                        </div>
                                    </li>
                                </ul>
            
                            </div>
                        </nav>
                    </div>
            
                </header>
    <section>

        <div class="owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">
                        <img src="<%=news[0].img %>" alt=""> </div>
                    <!-- <div class="owl-item">
                        <img src="../../../images/xe-lon-2.jpg" alt=""> </div>
                    <div class="owl-item">
                        <img src="../../../images/xe-lon-3.jpg" alt=""> </div>
                    <div class="owl-item">
                        <img src="../../../images/xe-lon-4.jpg" alt=""> </div>
                    <div class="owl-item">
                        <img src="../../../images/xe-lon-5.jpg" alt=""> </div>
                    <div class="owl-item">
                        <img src="../../../images/xe-lon-6.jpg" alt=""> </div> -->

                </div>

            </div>
        </div>
    </section>
    <section id="news" class="container mt-4">
        <div class="row">
            <div class="col-lg-9">
                <div id="news-container" class="container">
                    <div class="news-author">
                        <img src="<%=news[0].avatar %>" class="img-fluid" alt="">
                        <h6 class="d-inline"><%=news[0].author %></h6>
                    </div>
                    <div class="news-content">
                      <%-news[0].NoiDung %>
                    </div>


                </div>
                <div class="news-comment">
                    <h3 class="d-block">All Comments about this post</h3>
                    <% for(var i=0;i< comments.length;i++) {%>
                    <div class="media mb-3">

                        <img class="mr-3" src="<%=comments[i].avatar %>" class="img-fluid" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0"><%=comments[i].HoTen %></h5>
                         <p class="font-italic"> <%=comments[i].NgayBinhLuan.substring(0,10) %></p>
                            <p>  <%=comments[i].NoiDung %></p>
                        </div>
                    </div>
                    <% } %>

                    <form>
                        <div class="form-group" style="border: 2px #007bff solid; padding: 10px">
                            <img class="mr-3 img-fluid mb-3" width="100" src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/20992957_509786432704462_6107894385925675733_n.jpg?_nc_cat=103&_nc_oc=AQntn67Go4O6T1V1CH17r7PnFEiQAu5HUjJPdNX6ms4S0XGoiPS2OuiJ5vFxWkqdL0ryHpU_SfADJ5fd4m_lBeu3&_nc_ht=scontent.fsgn2-2.fna&oh=6e782af042231dd107f8e8546db31740&oe=5D7B9D4A" class="img-fluid" alt="Generic placeholder image">                            
                            <textarea class="form-control" id="commemt" rows="3" placeholder="Write here ..."></textarea>
                            <button type="submit" class="btn btn-primary mb-2">Comment</button>
                        </div>
                    </form>
           
                </div>
            </div>

            <div id="side-bar" class="col-lg-3 mt-2">
                    <!-- Side-bar-1 -->
                    <div class="side-bar-container">
                      <div class="side-bar-container-heading-main">
                        <div class="side-bar-container-heading">
                          <h3 class="bg-warning text-light">WHAT'S HOT?</h3>
                        </div>
                      </div>
            
                      <div class="side-bar-container-content">
                        <ul>
                          <% for(var i=0;i<16;i+=4) {%>
                          <li class="d-flex justify-content-start">
                            <img src="<%=datanews.News[i].img %>" class="img-fluid" alt="">
                            <a href="/news/<%=datanews.News[0].title %>">
                              <div class="side-bar-container-content-title">
            
                                <h4>      <%=datanews.News[i].title %></h4>
                                <i class="fa fa-calendar"></i>
                                <span>      <%=datanews.News[i].date_publish %></span>
                              </div>
                            </a>
            
                          </li>
                          <% }%>
                     
                        </ul>
                      </div>
                    </div>
                    <!-- Side-bar-2 -->
                    <div class="side-bar-container mt-4">
                      <div class="side-bar-container-heading-main">
                        <div class="side-bar-container-heading">
                          <h3 class="bg-info text-light">RECENT NEWS</h3>
                        </div>
                      </div>
            
                      <div class="side-bar-container-content">
                          <ul>
                              <% for(var i=1;i<16;i+=4) {%>
                              <li class="d-flex justify-content-start">
                                <img src="<%=datanews.News[i].img %>" class="img-fluid" alt="">
                                <a href="/news/<%=datanews.News[0].title %>">
                                  <div class="side-bar-container-content-title">
                
                                    <h4>      <%=datanews.News[i].title %></h4>
                                    <i class="fa fa-calendar"></i>
                                    <span>      <%=datanews.News[i].date_publish %></span>
                                  </div>
                                </a>
                
                              </li>
                              <% }%>
                         
                            </ul>
                      </div>
                    </div>
                    <!-- Side-bar-3 -->
                    <div class="side-bar-container mt-4">
                      <div class="side-bar-container-heading-main">
                        <div class="side-bar-container-heading">
                          <h3 class="bg-danger text-light">DON'T MISS</h3>
                        </div>
                      </div>
            
                      <div class="side-bar-container-content">
                          <ul>
                              <% for(var i=2;i<16;i+=4) {%>
                              <li class="d-flex justify-content-start">
                                <img src="<%=datanews.News[i].img %>" class="img-fluid" alt="">
                                <a href="/news/<%=datanews.News[0].title %>">
                                  <div class="side-bar-container-content-title">
                
                                    <h4>      <%=datanews.News[i].title %></h4>
                                    <i class="fa fa-calendar"></i>
                                    <span>      <%=datanews.News[i].date_publish %></span>
                                  </div>
                                </a>
                
                              </li>
                              <% }%>
                         
                            </ul>
                      </div>
                    </div>
                  </div>

        </div>


    </section>

    <footer id="footer" class="bg-dark">
        <div class="footer-container container">
            <div class="row">
                <div class="col-lg-3">
                    <a href="/">
                        <img src="../../../images/logo.png" class="img-fluid" alt="">


                    </a>
                    <i class="fa fa-facebook-official"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-google-plus"></i>
                    <i class="fa fa-youtube"></i>
                    <i class="fa fa-pinterest"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, rem unde ut beatae eligendi illum.</p>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-3">
                            <div class="footer-content">
                                <h6>CATEGORIES</h6>
                                <ul>
                                    <li>Home</li>
                                    <li>Mens</li>
                                    <li>Womens</li>
                                    <li>Lookbook</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="footer-content">
                                <h6>TRENDS</h6>
                                <ul>
                                    <li>Home</li>
                                    <li>Mens</li>
                                    <li>Womens</li>
                                    <li>Lookbook</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="footer-content">
                                <h6>BE POSTED</h6>
                                <ul>
                                    <li>Home</li>
                                    <li>Mens</li>
                                    <li>Womens</li>
                                    <li>Lookbook</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="footer-content">
                                <h6>ARCHIVES</h6>
                                <ul>
                                    <li>Home</li>
                                    <li>Mens</li>
                                    <li>Womens</li>
                                    <li>Lookbook</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="../../../javascripts/news.js"></script>
    <script src="../../../javascripts/owl.carousel.min.js"></script>

</body>

</html>