<!DOCTYPE html>
<html lang="en">

<head>

  <% include template/header-admin.ejs%>
    <title>
      <%=title %>
    </title>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">S-Team
                <sup>2</sup>
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <% if(userinfomation[0].PhanHe == 4 || userinfomation[0].PhanHe == 3) {%>
        <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <% } %>
        <!-- Divider -->


        <!-- Heading -->
        <div class="sidebar-heading">
            Personal </div>

        <!-- Nav Item - Pages Collapse Menu -->




        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="/admin/profile">
                <i class="fa fa-user"></i>
                <span>Profile</span>
            </a>
        </li>
        <% if(userinfomation[0].PhanHe == 4 || userinfomation[0].PhanHe == 3 || userinfomation[0].PhanHe == 2) {%>

        <li class="nav-item">
            <a class="nav-link" href="/admin/write-post">
                <i class="fa fa-paper-plane"></i>
                <span>Write new post</span>
            </a>
        </li>
        <% } %>
        <!-- Heading -->
        <% if(userinfomation[0].PhanHe == 4) {%>
        
        <div class="sidebar-heading">
            Data
        </div>
        <hr class="sidebar-divider">
        <!-- Nav Item - Pages Collapse Menu -->
        <!-- Nav Item - Tables -->
        <li class="nav-item active">
            <a class="nav-link" href="/admin/users-table">
                <i class="fa fa-users"></i>
                <span>Users Table</span>
            </a>
        </li>
        <% } %>
        <% if(userinfomation[0].PhanHe == 4  || userinfomation[0].PhanHe == 3) {%>

        <li class="nav-item">
            <a class="nav-link" href="/admin/posts-table">
                <i class="fas fa-fw fa-table"></i>
                <span>Posts Table</span>
            </a>
        </li>
        <% } %>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>



            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <% include template/user-infomation.ejs %>


          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Manage Users</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables,
            please visit the
            <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
          <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-add btn-icon-split mr-4">
            <span class="icon text-white  ">
              <i class="fa fa-user-plus"></i>
            </span>
            <span class="text">Add Users</span>
          </a>
          <a href="#" class="btn btn-danger btn-icon-split">
            <span class="icon text-white  ">
              <i class="fa fa-trash"></i>
            </span>
            <span class="text">Delete Many Users</span>
          </a>

          <!-- DataTales Users -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Data Users</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Avatar</th>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Password</th>
                      <th>Email</th>
                      <th>Birthday</th>
                      <th>Chuc vu </th>
                      <th>Actions</th>

                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th>Avatar</th>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Password</th>
                      <th>Email</th>
                      <th>Birthday</th>
                      <th>Chuc vu </th>
                      <th>Actions</th>

                    </tr>
                  </tfoot>
                  <tbody>
                    <% for(var i=0;i < data_users.length ;i++) {%>
                      <tr>
                        <td>
                          <input type="checkbox" data-id="<%=data_users[i].ID %>">
                        </td>
                        <td>
                          <img src="<%=data_users[i].avatar %>" width="150px" class="img-fluid">
                        </td>
                        <td>
                          <%=data_users[i].HoTen %>
                        </td>
                        <td>
                          <%=data_users[i].username %>
                        </td>
                        <td>
                          <%=data_users[i].pass %>
                        </td>
                        <td>
                          <%=data_users[i].Email %>
                        </td>
                        <td>
                          <%=data_users[i].NgaySinh.substring(0,10) %>
                        </td>
                        <td>
                          <% if(data_users[i].PhanHe == 1) {%>
                            Độc Giả
                            <% }%>
                              <%  if(data_users[i].PhanHe == 2) {%>
                                Phóng Viên
                                <% }%>
                                  <%  if(data_users[i].PhanHe == 3) {%>
                                    Quản trị viên
                                    <% }%>
                                      <%  if(data_users[i].PhanHe == 4) {%>
                                        Quản Lý
                                        <% }%>
                        </td>
                        <td>
                          <button class="btn btn-primary" id="btn-edit" data-id="<%=data_users[i].ID %>" data-name="<%=data_users[i].HoTen %>" data-username="<%=data_users[i].username %>"
                            data-password="<%=data_users[i].pass %>" data-email="<%=data_users[i].Email %>" data-avatar="<%=data_users[i].avatar %>"
                            data-birthday="<%=data_users[i].NgaySinh.substring(0,10) %>" data-phanhe="<%=data_users[i].PhanHe %>">Edit</button>

                          <form action="">
                            <button id="btn-delete2" class="btn btn-danger" type="submit" data-id="<%=data_users[i].ID %>" formmethod="post" formaction="/admin/delete-user/<%=data_users[i].ID %>">Delete</button>

                          </form>
                          </a>
                        </td>
                      </tr>
                      <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
          <!-- End Modal content Add -->
      <!-- Start Modal content Edit -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Modal Add new User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form-modal" name="form1" method="POST" action="/admin/update-user" role="form">
                <fieldset>

                  <!-- Form Name -->

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">ID User</label>
                    <div class="col-sm-10">
                      <input id="id_input" type="number" value="" name="ID" placeholder="" class="form-control">
                    </div>
                    <img src="" id="img_input" height="50px" class="img-fluid  mt-3" alt="">
                  </div>
                  <div class="form-group ">
                    <label class="col-sm-2 control-label" for="textinput">Link Avatar</label>
                    <div class="col-sm-10">
                      <input id="avatar_input" type="text" value="" name="avatar" placeholder="" class="form-control">
                    </div>
                    <img src="" id="img_input" height="50px" class="img-fluid" alt="">
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Name</label>
                    <div class="col-sm-10">
                      <input id="name_input" type="text" value="" name="HoTen" placeholder="" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Username</label>
                    <div class="col-sm-10">
                      <input id="username_input" type="text" value="" name="username" placeholder="" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Password</label>
                    <div class="col-sm-10">
                      <input id="password_input" type="text" value="" name="pass" placeholder="" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Email</label>
                    <div class="col-sm-10">
                      <input id="email_input" type="email" value="" name="Email" placeholder="" class="form-control">
                    </div>
                  </div>
                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Roles</label>
                    <div class="col-sm-10">
                      <select class="custom-select" name="PhanHe" id="role_input">

                        <option value=1>Độc giả</option>
                        <option value=2>Phóng Viên</option>
                        <option value=3>Quản Trị Viên</option>
                        <option selected value=4>Quản lý</option>

                      </select>
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Birhday</label>
                    <div class="col-sm-10">
                      <input type="date" id="date_input" name="NgaySinh" value="" placeholder="City" class="form-control">
                    </div>
                  </div>





                </fieldset>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" id="btn-modal-save">Save changes</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
      <button href="#" data-toggle="modal" data-target="#exampleModalCenter" class="d-none btn-modal">test</button>
      <!-- End Modal content Edit -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; S Team Community</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <% include template/logout-modal.ejs %>

    <% include template/footer-admin.ejs%>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
      <script src="../javascripts/usertable.js"></script>
</body>

</html>